.letter-spacing-1 {
    letter-spacing: 0.05em;
}

.header-card {
    border: 1px solid var(--surface-border);
}

.unit-card {
    border: 1px solid var(--surface-border);
    background: var(--surface-ground);
}
